[submodule "AESIR/vendor/spdlog"]
	path = AESIR/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AESIR/vendor/imgui"]
	path = AESIR/vendor/imgui
	url = https://github.com/SimonHadfield/imgui.git
